#wrapper {
    padding-left: 250px;
    transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
    margin-left: -250px;
    left: 250px;
    width: 250px;
    background: #f4f4f4;
    /*border-right: solid black 3px; */
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
}

#sidebar-wrapper ul {
    list-style-type: none;
}

#page-content-wrapper {
    width: 100%;
}


@media (max-width:767px) {

    #wrapper {
	padding-left: 0;
    }

    #sidebar-wrapper {
	left: 0;
    }

}

div#login-button {
    float: right;
}

/*
.writingbox, .writingbox:focus {
    border: none;
    width: 100%;
    box-shadow: none;
    color: #111;
    outline: none;
    resize: none;
    overflow: hidden;
    font-size: 26px;
    line-height: 1.6em;
    margin: 0 !important;
    padding: 0;    
}
*/

#thisday, #thisday:focus{
    padding: 0;
    font-size: 25px;
    outline: none;
    border: none;
    box-shadow: none;
    height: auto;
    cursor: pointer;
}

#entryselect{
    background: white;
    position: absolute;
    display: inline-block;
    float: right;
    border: solid 1px white;
    padding: 2px;
}

#entryselect:hover{
    cursor: pointer;
    box-shadow: 2px 2px 5px #888888;
}

#entrylist {
}

#entrylist .entryitem:hover{
    background-color: #ffa;
}

#entry-saved{
    /*    position: fixed;
	  top: 10px;
	  right: 10px; */
    float: right;
    display: inline-block;
    color: #ccc;
    padding: 5px;
}

#entry-save{
    /*    position: fixed;
	  top: 10px;
	  right: 10px; */
    float: right;
    display: inline-block;
    color: green;
    background: #eee;
    padding: 5px;
    cursor: pointer;
}

#entry-save:hover {
    background: #fafafa;
}

#counts {
    position: fixed;
    bottom: 10px;
    right: 10px;
}